* {
    font-family: "Noto Sans TC";
    font-size: 13px;
    color: #666;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    color: #333;
    background-color: #333;
    height: 4px;
    border-radius: 1em;
}

.Link::after {
    content: " 🔗";
    font-size: 0.8rem;
}

.Container {
    max-width: 700px;
    align-content: center;
    margin: auto;
}

.TitleBlock {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.TitleName {
    font-size: 36px;
    font-weight: 900;
    color: #333;
}

.Contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ContactItem {
    display: grid;
    grid-template-columns: 2fr 5fr 12fr;
    align-items: center;
}

.ContactName {
    font-weight: bold;
    color: #333;
}

.Icon {
    width: 1em;
    height: 1em;
}

.SectionTitle {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0.25em;
    color: #333;
}

.SectionTitle::before {
    content: "█▓▒░ ";
}

.ExpTitleBlock {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 0.1em;
}

.ExpTitle {
    display: flex;
    align-items: center;
}

.ExpPosition {
    font-size: 18px;
    font-weight: 800;
    color: #333;
}

.ExpDescription::before {
    content: "•";
}

.ExpDescription {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.ExpTail {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.ExpDate {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
}

.Content {
    margin-bottom: 0.75em;
    text-align: justify;
}